# for github api calling by homebrew
# homebrew (https://github.com/settings/tokens)
export HOMEBREW_GITHUB_API_TOKEN=**your_github_api_key**

# add your golang project on github to the auto cd path
if [[ -n $GOPATH ]]; then
	export cdpath=("$GOPATH/src/github.com/**your_github_account**" $cdpath)
fi

# boot vscode
alias code="open -a 'Visual Studio Code'"

# boot slack on chrome as app
alias slack="open -na 'Google Chrome' --args --app='https://XXXXX.slack.com/messages/XXXXX/'"

alias gpg="LC_ALL=C gpg"


