""" -- syntastic

" ruby
let g:syntastic_ruby_checkers = ['rubocop']

" JavaScript
let g:syntastic_javascript_checkers = ['eslint']
let g:syntastic_auto_loc_list = 1

" C++ / specify include path
let g:syntastic_cpp_include_dirs = [ 'include/']
let g:syntastic_cpp_check_header = 1
let g:syntastic_cpp_remove_include_errors = 1

" Java
let g:syntastic_java_javac_options = '-Xlint -J-Dfile.encoding=UTF-8'
" let g:syntastic_java_javac_delete_output = 0
" let g:syntastic_java_javac_temp_dir = '/tmp'

" HTML / not check Angular's attributes
let g:syntastic_html_tidy_ignore_errors=[' proprietary attribute "ng-']

" json
let g:syntastic_json_checkers=['jsonlint']


""" -- ale
let g:ale_linters = {
\   'javascript': ['eslint'],
\   'json': ['jsonlint'],
\}
