# vim: set ft=zsh :

# The next line enables shell command completion for gcloud.
source '/Users/xxxxx/google-cloud-sdk/completion.zsh.inc'

# to play nyan voice
function nyan() { afplay ~/Music/nyan.mp4; }

# settings for node.js
if isInstalled nvm; then
	nvm use v10
fi

# make alias of hub using github enterprise
alias ghe='GITHUB_HOST=**your.github.enterprise.site.domain** hub'
