#
# vim: set ft=zsh :

# for github api calling by homebrew
export HOMEBREW_GITHUB_API_TOKEN=your_github_api_key

# add path to aws-sdk bin
export PATH=$PATH:~/.local/lib/aws/bin

# add path to postgresql cli
export PATH=$PATH:/Library/PostgreSQL/10/bin

# The next line updates PATH for the Google Cloud SDK.
source '/Users/xxxxx/google-cloud-sdk/path.zsh.inc'

# The next line enables shell command completion for gcloud.
source '/Users/xxxxx/google-cloud-sdk/completion.zsh.inc'

# to play nyan voice
function nyan() { afplay ~/Music/nyan.mp4; }

# settings for golang
if isInstalled go;  then
	export GOPATH=$HOME/go
	export PATH=$PATH:$GOPATH/bin
fi

# auto cd to golang project
if [[ -n $GOPATH ]]; then
	export cdpath=($GOAPTH/src/github.com/your_github_user/ $cdpath)
fi

# settings for node.js
if [ -f ~/.nvm/nvm.sh ]; then
	nvm use v8
fi

# make alias of hub using github enterprise
alias ghe='GITHUB_HOST=your.github.enterprise.site.domain hub'
