# vim: set ft=zsh :

# to play nyan voice
function nyan() { afplay ~/Music/nyan.mp4; }

# The next line enables shell command completion for gcloud.
source "${HOME}/google-cloud-sdk/completion.zsh.inc"

# make alias of hub using github enterprise
alias ghe='GITHUB_HOST=**your.github.enterprise.site.domain** hub'

# homebrew (https://github.com/settings/tokens)
export HOMEBREW_GITHUB_API_TOKEN=xxxxx

# boot vscode
alias code="open -a 'Visual Studio Code'"

# boot slack on chrome as app
alias slack="open -na 'Google Chrome' --args --app='https://XXXXX.slack.com/messages/XXXXX/'"



